@import './variables.scss';
// Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Lato', sans-serif;
    line-height: 1.3;
    background: $light-color;
    color: $dark-color;
    position: relative;
    overflow-x: hidden;
    cursor: none;
}

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 3.3rem;
}

h3 {
    font-size: 2.8rem;
}
h4 {
    font-size: 2.3rem;
}
h5 {
    font-size: 1.8rem;
}
h6 {
    font-size: 1.3rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: $dark-color;

    &:hover {
        transition: all 0.3s ease-in-out;
        color: lighten($color: $dark-color, $amount: 5%);
    }
}

ul {
    list-style: none;
}

.container {
    width: 80%;
    margin: 0 auto;
}

// Cursor
.cursor {
    width: 3rem;
    height: 3rem;
    border: 2px solid red;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: all 0.3s ease;
    transition-property: background, transform;
    transform-origin: 100% 100%;
    backdrop-filter: grayscale(50%);
}

.link-grow {
    transform: scale(2);
    background: white;
}

.hovered-link {
    color: black;
}

@import './mobile.scss';
