<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>Wall2WallProductions</title>
  </head>
  <body>
    <div class="success-container">
      <div class="cursor"></div>
      <div class="container">
        <h3 class="success-heading">Thank you for your purchase!</h3>
        <a class="exit-link" href="/">Click here to return to the home page</a>
      </div>
    </div>
    <script src="./js/cursor.js"></script>
  </body>
</html>
