* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/smoke-background.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

html,
body {
  width: 100%;
  height: 100%; }

body {
  font-family: "Lato", sans-serif;
  line-height: 1.3;
  color: #dddddd;
  position: relative;
  overflow-x: hidden;
  cursor: none; }

h1 {
  font-size: 3.8rem; }

h2 {
  font-size: 3.3rem; }

h3 {
  font-size: 2.8rem; }

h4 {
  font-size: 2.3rem; }

h5 {
  font-size: 1.8rem; }

h6 {
  font-size: 1.3rem; }

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-family: "Montserrat", sans-serif; }

a {
  text-decoration: none;
  color: #232323; }
  a:hover {
    transition: all 0.3s ease-in-out;
    color: #303030; }

ul {
  list-style: none; }

.btn {
  padding: 0.8rem 1rem;
  width: 80%;
  margin: 1rem auto;
  border: none;
  cursor: pointer;
  border-radius: 10px; }

.btn-primary {
  background-color: #0077ef;
  color: #eee; }
  .btn-primary:hover {
    transition: all 0.3s ease-in-out;
    background-color: #006ad6; }

.container {
  width: 80%;
  margin: 0 auto; }

#about .container,
#work .container,
#contact .container {
  padding-top: 8rem; }

@media screen and (max-width: 1024px) {
  main {
    position: relative;
    overflow-x: hidden; }
  #landing .navbar .nav-links {
    width: 60%; }
  #about .left-side,
  #about .right-side {
    width: 100%; }
  #work .wrapper .yt-videos {
    display: block; }
    #work .wrapper .yt-videos iframe {
      width: 80%; }
  #work .wrapper .yt-videos iframe:first-child {
    margin: 1rem 0; } }

@media screen and (max-width: 900px) {
  body {
    cursor: auto; }
  .intro .intro-text .centered-text {
    letter-spacing: 1rem;
    font-size: 1.5rem; }
  .intro .intro-text .small-text {
    font-size: 0.8rem; }
  .cursor {
    display: none; }
  #landing .navbar .burger {
    display: block;
    position: fixed;
    right: 0; }
  #landing .navbar .nav-links {
    position: fixed;
    right: 0;
    height: 100vh;
    top: 0vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(25, 25, 25, 0.8);
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.3s ease-in; }
  #landing .navbar .nav-links li {
    opacity: 0; }
  h1 {
    font-size: 3.3rem; }
  h2 {
    font-size: 2.5rem; }
  .navbar .nav-active {
    transform: translateX(0) !important; }
  .navbar .toggle #line-1 {
    transform: rotate(-45deg) translate(-5px, 6px); }
  .navbar .toggle #line-2 {
    opacity: 0; }
  .navbar .toggle #line-3 {
    transform: rotate(45deg) translate(-5px, -6px); }
  .lead {
    font-size: 1rem; }
  #about .container,
  #work .container,
  #contact .container {
    padding-top: 2rem; }
  #about .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  #about .right-side #logo-img {
    max-width: 200px;
    position: relative;
    z-index: -3; }
  #work .wrapper .yt-videos iframe {
    width: 100%; }
  #work .wrapper .yt-videos iframe:first-child {
    margin: 1rem 0; } }

@media screen and (max-width: 768px) {
  #about .left-side,
  #about .right-side {
    width: 90%; }
  #pricing {
    height: 100%;
    margin: 2rem 0; }
    #pricing .cards {
      flex-direction: column;
      align-items: center; }
      #pricing .cards .card {
        margin: 1rem 0; } }

@media screen and (max-height: 400px) {
  #landing {
    height: 100%; } }

.cursor {
  width: 3rem;
  height: 3rem;
  border: 2px solid red;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.3s ease;
  transition-property: background, transform;
  transform-origin: 100% 100%;
  backdrop-filter: grayscale(50%); }

.link-grow {
  transform: scale(2); }

.intro {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center; }

.intro-text {
  color: #d0d0d0; }
  .intro-text .centered-text {
    letter-spacing: 2rem;
    font-size: 4rem; }
  .intro-text .small-text {
    width: 100%;
    text-align: center;
    font-size: 1.3rem;
    margin: 0 auto; }

.hide {
  background: black;
  overflow: hidden; }
  .hide span {
    transform: translateY(100%);
    display: inline-block; }

#landing {
  height: 100vh;
  color: #dddddd; }
  #landing .lead {
    font-size: 1.5rem; }
  #landing .navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    z-index: 1; }
    #landing .navbar a {
      color: #dddddd; }
    #landing .navbar #logo {
      letter-spacing: 5px;
      margin-left: 1rem; }
    #landing .navbar .nav-links {
      display: flex;
      width: 60%;
      align-items: center;
      justify-content: space-evenly;
      height: 8vh;
      z-index: 1; }
      #landing .navbar .nav-links .nav-links {
        z-index: 1; }
      #landing .navbar .nav-links .nav-item {
        margin: 0 0.3rem;
        padding: 1rem; }
        #landing .navbar .nav-links .nav-item .nav-link {
          font-weight: 600; }
          #landing .navbar .nav-links .nav-item .nav-link.hovered-link {
            color: #cc0000; }
  #landing .fixed-nav {
    position: fixed;
    width: 100%;
    background: rgba(0, 0, 0, 0.9); }
  #landing .wrapper {
    height: 80vh;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  #landing .burger {
    display: none;
    cursor: pointer;
    z-index: 1; }
    #landing .burger div {
      width: 30px;
      height: 2px;
      background: red;
      margin: 5px;
      transition: transform 0.3s ease-in; }

#about {
  height: 90vh; }
  #about .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  #about .left-side,
  #about .right-side {
    width: 50%;
    padding: 1rem; }
  #about .left-side {
    width: 40%;
    height: 100%; }
    #about .left-side h2 {
      border-bottom: 1px solid #232323;
      margin: 1rem 0; }
    #about .left-side .fab {
      margin: 1rem 0.5rem; }
    #about .left-side .fa-instagram {
      color: #dd2a7b; }
    #about .left-side .fa-youtube {
      color: #fa423b; }
  #about .right-side {
    width: 50%;
    height: 100%;
    margin: auto; }
    #about .right-side #logo-img {
      max-width: 400px;
      margin: auto;
      z-index: -3;
      border-radius: 5px; }

#work .wrapper {
  text-align: center; }
  #work .wrapper .yt-videos {
    height: 100%;
    margin-top: 5%;
    display: grid;
    gap: 1rem;
    grid-template-areas: "video1 video2" "video1 video3";
    margin: 1rem 0; }
    #work .wrapper .yt-videos iframe {
      width: 470px;
      height: 300px; }
      #work .wrapper .yt-videos iframe:first-child {
        height: 400px;
        grid-area: video1;
        align-self: center; }
      #work .wrapper .yt-videos iframe:nth-child(2) {
        grid-area: video2; }
      #work .wrapper .yt-videos iframe:nth-child(3) {
        grid-area: video3; }
  #work .wrapper h1 {
    border: 1px solid #dddddd; }

#contact {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0; }
  #contact .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem; }
  #contact .form-group {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0.5rem;
    width: 70vw;
    margin: 0 auto; }
    #contact .form-group label {
      margin: 0.3rem 0; }
    #contact .form-group input {
      padding: 0.3rem 1rem;
      margin: 1rem 0; }
    #contact .form-group textarea {
      margin-bottom: 1rem 0; }

#pricing {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center; }
  #pricing .cards {
    display: flex;
    justify-content: flex-start;
    color: #232323; }
    #pricing .cards .card {
      background: #efefef;
      width: 300px;
      height: 50vh;
      margin: 0 2rem;
      text-align: center;
      display: flex;
      flex-direction: column;
      border-radius: 5px;
      -webkit-box-shadow: 2px 4px 15px 4px #000000;
      box-shadow: 2px 4px 15px 4px #000000;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: auto 1rem; }
    #pricing .cards .card-title {
      font-weight: 800;
      text-shadow: 2px 2px 2px #969696; }
    #pricing .cards .card-description {
      font-weight: 600;
      text-transform: capitalize; }
    #pricing .cards .card-title,
    #pricing .cards .card-description {
      margin: 0.5rem 0; }

@media screen and (max-width: 1024px) {
  main {
    position: relative;
    overflow-x: hidden; }
  #landing .navbar .nav-links {
    width: 60%; }
  #about .left-side,
  #about .right-side {
    width: 100%; }
  #work .wrapper .yt-videos {
    display: block; }
    #work .wrapper .yt-videos iframe {
      width: 80%; }
  #work .wrapper .yt-videos iframe:first-child {
    margin: 1rem 0; } }

@media screen and (max-width: 900px) {
  body {
    cursor: auto; }
  .intro .intro-text .centered-text {
    letter-spacing: 1rem;
    font-size: 1.5rem; }
  .intro .intro-text .small-text {
    font-size: 0.8rem; }
  .cursor {
    display: none; }
  #landing .navbar .burger {
    display: block;
    position: fixed;
    right: 0; }
  #landing .navbar .nav-links {
    position: fixed;
    right: 0;
    height: 100vh;
    top: 0vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(25, 25, 25, 0.8);
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.3s ease-in; }
  #landing .navbar .nav-links li {
    opacity: 0; }
  h1 {
    font-size: 3.3rem; }
  h2 {
    font-size: 2.5rem; }
  .navbar .nav-active {
    transform: translateX(0) !important; }
  .navbar .toggle #line-1 {
    transform: rotate(-45deg) translate(-5px, 6px); }
  .navbar .toggle #line-2 {
    opacity: 0; }
  .navbar .toggle #line-3 {
    transform: rotate(45deg) translate(-5px, -6px); }
  .lead {
    font-size: 1rem; }
  #about .container,
  #work .container,
  #contact .container {
    padding-top: 2rem; }
  #about .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  #about .right-side #logo-img {
    max-width: 200px;
    position: relative;
    z-index: -3; }
  #work .wrapper .yt-videos iframe {
    width: 100%; }
  #work .wrapper .yt-videos iframe:first-child {
    margin: 1rem 0; } }

@media screen and (max-width: 768px) {
  #about .left-side,
  #about .right-side {
    width: 90%; }
  #pricing {
    height: 100%;
    margin: 2rem 0; }
    #pricing .cards {
      flex-direction: column;
      align-items: center; }
      #pricing .cards .card {
        margin: 1rem 0; } }

@media screen and (max-height: 400px) {
  #landing {
    height: 100%; } }

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px); }
  to {
    opacity: 1;
    transform: translateX(0); } }
