* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.3;
  background: #dddddd;
  color: #232323;
  position: relative;
}

h1 {
  font-size: 3.8rem;
}

h2 {
  font-size: 3.3rem;
}

h3 {
  font-size: 2.8rem;
}

h4 {
  font-size: 2.3rem;
}

h5 {
  font-size: 1.8rem;
}

h6 {
  font-size: 1.3rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: #232323;
}

a:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #303030;
}

ul {
  list-style: none;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.intro {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro-text {
  color: #d0d0d0;
  font-size: 3rem;
}

.slider {
  background: #232323;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.hide {
  background: black;
  overflow: hidden;
}

.hide span {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  display: inline-block;
}

#landing {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(../images/smoke-background.jpeg);
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/smoke-background.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  color: #dddddd;
}

#landing .lead {
  font-size: 1.5rem;
}

#landing nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1rem;
}

#landing nav #logo {
  letter-spacing: 5px;
  margin-left: 1rem;
  z-index: 1;
}

#landing nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 1re;
  height: 8vh;
}

#landing nav .nav-links .nav-item {
  margin: 0 0.3rem;
}

#landing nav .nav-links .nav-item .nav-link {
  font-weight: 600;
  color: #dddddd;
  z-index: 1;
}

#landing nav .nav-links .nav-item .nav-link:hover {
  color: white;
}

#landing .wrapper {
  height: 80vh;
  margin: 0 auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#landing .burger {
  display: none;
  cursor: pointer;
  z-index: 1;
}

#landing .burger div {
  width: 30px;
  height: 2px;
  background: red;
  margin: 5px;
  -webkit-transition: -webkit-transform 0.3s ease-in;
  transition: -webkit-transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
}

#about {
  height: 100vh;
}

#about .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about a:hover {
  color: inherit;
}

#about .left-side h2 {
  border-bottom: 1px solid #232323;
  margin: 1rem 0;
}

#about .left-side .fa-youtube {
  color: #fa423b;
}

#about .right-side img {
  max-width: 600px;
}

@media screen and (max-width: 1024px) {
  #landing nav .nav-links {
    width: 60%;
  }
}

@media screen and (max-width: 863px) {
  main {
    position: relative;
    overflow-x: hidden;
  }
  #landing h1 {
    font-size: 3.3rem;
  }
  #landing h2 {
    font-size: 2.5rem;
  }
  #landing nav .nav-active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  #landing nav .toggle #line-1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 6px);
            transform: rotate(-45deg) translate(-5px, 6px);
  }
  #landing nav .toggle #line-2 {
    opacity: 0;
  }
  #landing nav .toggle #line-3 {
    -webkit-transform: rotate(45deg) translate(-5px, -6px);
            transform: rotate(45deg) translate(-5px, -6px);
  }
  #landing nav .lead {
    font-size: 1rem;
  }
  #landing nav .burger {
    display: block;
    position: fixed;
    right: 0;
  }
  #landing nav .nav-links {
    position: fixed;
    right: 0;
    height: 100vh;
    top: 0vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgba(25, 25, 25, 0.8);
    width: 100%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.3s ease-in;
    transition: -webkit-transform 0.3s ease-in;
    transition: transform 0.3s ease-in;
    transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
  }
  #landing nav .nav-links li {
    opacity: 0;
  }
}

@media screen and (max-height: 400px) {
  #landing {
    height: 100%;
  }
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
/*# sourceMappingURL=main.css.map */