$light-color: rgb(221, 221, 221);
$dark-color: #333;

// Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Lato', sans-serif;
    line-height: 1.3;
    background: $light-color;
    color: $dark-color;
}

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 3.3rem;
}

h3 {
    font-size: 2.8rem;
}
h4 {
    font-size: 2.3rem;
}
h5 {
    font-size: 1.8rem;
}
h6 {
    font-size: 1.3rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: $dark-color;

    &:hover {
        transition: all 0.3s ease-in-out;
        color: lighten($color: $dark-color, $amount: 5%);
    }
}

ul {
    list-style: none;
}

.container {
    width: 100%;
    height: 80vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

// Header
#main-header {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(../images/smoke-background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    color: $light-color;

    // Navbar
    nav {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 1rem;

        #logo {
            letter-spacing: 5px;
            margin-left: 1rem;
            z-index: 1;
        }

        .nav-links {
            display: flex;
            width: 60%;
            align-items: center;
            justify-content: space-evenly;
            margin: 1re;
            height: 8vh;

            .nav-item {
                margin: 0 0.3rem;

                .nav-link {
                    font-weight: 600;
                    color: $light-color;
                    z-index: 1;

                    &:hover {
                        color: lighten($color: $light-color, $amount: 15%);
                    }
                }
            }
        }
    }
    .burger {
        display: none;
        cursor: pointer;
        z-index: 1;
        div {
            width: 30px;
            height: 2px;
            background: $light-color;
            margin: 5px;
            transition: transform 0.3s ease-in;
        }
    }

    .lead {
        font-size: 1.5rem;
    }
}

// Tablet
@media screen and (max-width: 1024px) {
    #main-header {
        nav {
            .nav-links {
                width: 60%;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    main {
        position: relative;
        overflow-x: hidden;
    }

    #main-header {
        .burger {
            display: block;
        }
        nav {
            .nav-links {
                position: absolute;
                right: 0;
                height: 100vh;
                top: 0vh;
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: rgba(25, 25, 25, 0.8);
                width: 100%;
                transform: translateX(100%);
                transition: transform 0.3s ease-in;
            }
            .nav-links li {
                opacity: 0;
            }
        }
    }
}

#main-header {
    nav {
        .nav-active {
            transform: translateX(0);
        }

        .toggle #line-1 {
            transform: rotate(-45deg) translate(-5px, 6px);
        }

        .toggle #line-2 {
            opacity: 0;
        }

        .toggle #line-3 {
            transform: rotate(45deg) translate(-5px, -6px);
        }
    }
}

// Landscape
@media screen and (max-height: 400px) {
    #main-header {
        height: 100%;
    }
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
