// Tablet
@media screen and (max-width: 1024px) {
    #main-header {
        nav {
            .nav-links {
                width: 60%;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    main {
        position: relative;
        overflow-x: hidden;
    }

    #main-header {
        .burger {
            display: block;
        }
        nav {
            .nav-links {
                position: absolute;
                right: 0;
                height: 100vh;
                top: 0vh;
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: rgba(25, 25, 25, 0.8);
                width: 100%;
                transform: translateX(100%);
                transition: transform 0.3s ease-in;
            }
            .nav-links li {
                opacity: 0;
            }
        }
    }
}

#main-header {
    h1 {
        font-size: 3.3rem;
    }

    nav {
        .nav-active {
            transform: translateX(0);
        }

        .toggle #line-1 {
            transform: rotate(-45deg) translate(-5px, 6px);
        }

        .toggle #line-2 {
            opacity: 0;
        }

        .toggle #line-3 {
            transform: rotate(45deg) translate(-5px, -6px);
        }
    }
    .lead {
        font-size: 1rem;
    }
}

// Landscape
@media screen and (max-height: 400px) {
    #main-header {
        height: 100%;
    }
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
